#discoverIndianaText {
  position: absolute;

  color: white;
  text-align: center;
  font-size: 7vw;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  padding: 0;
  font-weight: bolder;

}

#bottomText {
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  text-align: center;

  font-size: 150%;
  position: absolute;

  color: white;
  font-family: 'Inter', sans-serif;
  padding-top: 35%;
  font-size: 2vw;
  fill:none;
  background-color: transparent;
  border:none;
  font-weight: bold;


}

#introImage {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

#discoverIndiana {
  display: flex;
  align-items: center;
  justify-content: center
}

h1 {
  /* text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8); */

  letter-spacing: -2.93px;
  color: black;
  /* margin-bottom: 100%; */
  font-size: 6vw;
}

.title{
  color: #005CB1;
  font-size: 2vw;
  padding:0;
  padding-top:10px;
  /* margin:0; */
}
#mapAll {
  width: 100%;
  height: auto;
  /* margin-bottom:70%; */
}
.library >h2{
  color: rgb(88, 87, 87);
  letter-spacing:normal;
  margin-top: 0;
  padding-top: 0;

}

#selectCountyButton{
  background:#C3DCE3;
  /* border-color: #507580; */
  border:none;
  color:black;
}

#skyline{
  width: 70%;
  height: 70%;
}
#logo{
  padding:0;
  margin-top: 10px;
  margin-left: 5px;
  /* float: left; */
}
#anotherLogo{
  width: 10%;
  height: 10%;
  padding:0;
  padding-top:10px;
  /* margin:0; */
  /* float:left; */

}
.dropdown{
  letter-spacing: 0;
/* width:100%;
height:100%; */
margin:0;
padding:0;
padding-bottom: 20px;
  font-size: 2vw;

}


#topItems {
  /* float: right; */
  padding: 0;
  margin: 0;

}

.container {
  /* position: relative;
  text-align: center; */
  color: white;
}

#arrow {
  font-size: 12px;
}

.dropdown>button{
  color: white;
  background-color: #005CB1;
}

#mapRow {
  width: 100%;
  height: 100%;
}

.content-container {
  padding: 50px 150px;
}

h2 {
  font-size: 2vw;
  letter-spacing:normal;
  color: rgb(88, 87, 87);
}

h3 {
  font-size: 1.5vw;
  letter-spacing:0.08vw;
  color: rgb(88, 87, 87);
  font-weight: normal;
}

#updateBolt {
  font-size: 1.5vw;
  color:#005CB1;
  letter-spacing: -2.93px;
}

#countySelector {
  width: 100%;
}

@media screen and (max-width:1200px) {
  .content-container {
      padding: 50px 10px;
  }
}

/*------------------SVG stuff-------------------*/

#indianaMap {
  width: 100%;
  height: 100%;
  padding: 50px 10px;
  margin: 0px;
}

.cls-1 {
  fill: #004d7c;
  stroke: #f9f9f9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.25px;
  fill-rule: evenodd;
}

.small {
  font: normal 3.3px sans-serif;
  text-anchor: center;
}

polygon:hover {
  fill: rgb(0, 229, 255);
}

polygon:hover {
  fill: rgb(0, 229, 255);
}

polygon:active {
  fill: rgb(222, 222, 222);
}

polygon:has(+ text:hover) { fill:  rgb(0, 229, 255); }

text {
  fill: aliceblue;
}

.red {
  fill: red;
}

