.navbar {
    background-color: #004d7c;
    font-family: 'Inter', sans-serif;
    text-align: right;
  }
  
.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    justify-content: center;
}

body{
  background-color: whitesmoke;
}

.color-primary {
  color: #004d7c;
}

.color-secondary {
  color: rgb(50, 50, 50);
}

.color-tertiary {
  color: rgb(0, 229, 255);
}
