#changingTitle{
    color:black;
    font-size: 40px;
  }

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#all-cards{
  padding-left:30px;
  padding-right:30px;
  text-align: left;
  
}
.card:hover{
  transform: translate3D(0,-1px,0) scale(1.03);
  cursor:pointer;

}

div.col-4{
  text-transform: capitalize;
}
.col-1{
  text-align: center;
  justify-content: center;
}

.content-container {
  padding: 50px 200px;
}

div.scrollmenu {
  overflow-x: scroll;
  white-space: nowrap;
}

#filterRow1 div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#filterRow2 div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

button {
  white-space: normal;
  border-width: 0px;
  background: transparent;
}

hr {
  border-top: 2px;
  padding: 5px;
  margin: 10px;
  color: gray;
}

.icon-holder {
  height:150px;
  margin-top: 20px;
}

.colIcon {
  width:200px;
  height:100%;
}

div.scrollmenu a:hover {
  background-color: #bfbfbf;
}


@media screen and (max-width:1200px) {
  .content-container {
      padding: 50px 10px;
  }
}

/*---------------printing--------------*/
.do-print {
  display: none;
}

@media print {
 .no-print {
     display: none;
  }
  .do-print {
     display: block;
  }
}
