#Resource {
    font-size: 50px;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}

.content-container {
    padding: 50px 200px;
}
#Resource{
    text-transform: lowercase;
    text-transform: capitalize;

}
.content-label {
    margin-top: 10px;
    margin-bottom: 2px;
}

a.disabled {
    pointer-events: none;
}

.normal-font {
    font-weight: normal;
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width:1200px) {
    .content-container {
        padding: 50px 10px;
    }
}
